<div class="detls my-3">
    <i class="fa-solid fa-phone"></i> +91 8106471415 <br>
    <i class="fa-solid fa-envelope"></i>  drnivedithasai@gmail.com 
</div>
<h1>About</h1>
<div class="about d-flex my-4">
    <img src="/images/dr-niveditha-about.jpg">
    <div class="mx-3">
        <h1 class="subheader"><b>DR. NIVEDITHA SAI CHANDRA A</b></h1>
        <p>MBBS, MD(Gen.Med), DrNB Neurology from KMC Hospital , Mangalore. (Manipal Academy of Higher Education- MAHE)</p>
        <h4>Consultant Neurophysician</h4>
        <ul>
            <li>NESSAN Certified in EEG reading.</li>
            <li>Life member of Indian epilepsy Society</li>
            <li>Life member in Centre for Health and Development.</li>
        </ul>
        <p>Dr.Niveditha Sai Chandra. A, one of the leading neurologists in the twin cities, currently serving in the Secunderabad region who provides high quality neurological care with precise diagnosis and comprehensive treatment plan. With an immaculate training and experience record, Dr.Niveditha not only looks for the solution but first tries to understand the root of the issue and how it has impacted the lifestyle of the person. She has completed her MBBS from DR Pinnnamaneni Siddhartha medical college, Andhra Pradesh following which she attained her MD in general Medicine from one of the most reputed medical colleges in Andhra Pradesh, ASRAM college. Dr.Niveditha was always interested in the field of Neurology and went on to attain her DNB Neurology from KMC Mangalore (Manipal university). She currently is a consultant neurophysician in one the most premier health care destinations in Secunderabad, Sunshine Hospital.</p>
    </div>
</div>
<button type="button" class="btn btn-lg Btn"> Work Experience</button>
<div class="my-4">
        <button class="btn btn-dark m-2"><i class="fa-solid fa-stethoscope fa- 2xs"></i> </button> Asstn professor in dept of General Medicine, Kannur Medical college, Kerala from 2015 to January 2017 <br>
        <button class="btn btn-dark m-2"><i class="fa-solid fa-stethoscope fa- 2xs"></i> </button> Consultant Physician at Malabar Cancer Centre, Thalassery , Kannur <br>
        <button class="btn btn-dark m-2"><i class="fa-solid fa-stethoscope fa- 2xs"></i> </button> Junior Consultant Neurologist in Kims hospital Secunderabad for 9 months, in association with Dr.Mohandas.S , HOD , dept of Neurology <br>
        <button class="btn btn-dark m-2"><i class="fa-solid fa-stethoscope fa-  2xs"></i> </button>Currently working as a Consultant Neurophysician at Sunshine multispeciality hospital, Secunderabad. <br>
        <button class="btn btn-dark m-2"><i class="fa-solid fa-stethoscope fa-  2xs"></i> </button> Visiting consultant at
        Shenoy hospital, East marredpally Oxyclinics, West marredpally. <br>
</div>
<button type="button" class="btn btn-lg Btn"> Academic Achievements </button>
<div class="my-4"> 
    <button class="btn btn-dark m-2"><i class="fa-solid fa-award fa-  2xs"></i> </button>4 paper publications in peer reviewed medical journals. <br>
    <button class="btn btn-dark m-2"><i class="fa-solid fa-award fa-  2xs"></i> </button>Underwent short observership at Srichitra Tirunal institute, Trivendrum for 2 months in epilepsy, neuro physiology and neuro radiology. <br> 
    <button class="btn btn-dark m-2"><i class="fa-solid fa-award fa-  2xs"></i> </button> Short observorship in Neuro-pathology at NIMHANS Bangalore.  <br>
    <button class="btn btn-dark m-2"><i class="fa-solid fa-award fa-  2xs"></i> </button>Cleared NESSAN EEG certificate course conducted in November 2020.  <br>
    <button class="btn btn-dark m-2"><i class="fa-solid fa-award fa-  2xs"></i> </button> Special interest in Epilepsy, auto-immune and related diseases.<br>
    <button class="btn btn-dark m-2"><i class="fa-solid fa-award fa-  2xs"></i> </button>Participated in IES Video EEG training. <br>
</div>
<button type="button" class="btn btn-lg Btn"> Awards & Rewards</button>
<div class="my-4">
        <button class="btn btn-dark m-2"><i class="fa-solid fa-trophy fa-  2xs"></i> </button> Sri Kodali Shikhamani award in 2003 for topper in Mathematics. <br>
        <button class="btn btn-dark m-2"><i class="fa-solid fa-trophy fa-  2xs"></i> </button> National Merit Scholarship in 2003 for achieving 93% in SSC. <br>
        <button class="btn btn-dark m-2"><i class="fa-solid fa-trophy fa-  2xs"></i> </button> Participated and won several prizes in curricular, literary and cultural competitions at school and college levels. <br>
</div>
<button type="button" class="btn btn-lg Btn"> Opportunities</button>
<ul class="list my-4">
    <li>Original research work done on Posterior Reversible Encephalopathy Syndrome.</li>
    <li>Presented paper on PRES at Telangana State conference 2018</li>
    <li>Presented paper on Autoimmune encephalitis in International Neuro immunology Update at Bangalore, 2018.</li>
    <li>Presented paper on Dementia in elderly at international geriatric conference at KMC Mangalore, January 2019.</li>
    <li>Presented and discussed approach to difficult MS cases with Dr.Yurg kesselring , pioneer in Multiple sclerosis , Switzerland during his visit to KMC , Mangalore.</li>
    <li>Organized and participated in free medical camps & public health awareness programs</li>
    <li>Life member and consultant for CHD – Centre for Health and Development, a global voluntary organization striving for the betterment of rural health in India</li>
        Life member in IES (Indian Epilepsy Society).</li>
</ul>