<div class="imgtext">
    <img class='homeimg' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUAMuZG6i72ZZ1DmsIxqhvXD_2MmcXMEY_ZHNnpbZHSg&s">
    <p>Healing takes time and asking for help is a courageous step</p>
</div>
<div class="d-flex introdiv my-5">
    <div class="detls">
        <i class="fa-solid fa-phone"></i> +91 8106471415 <br>
        <i class="fa-solid fa-envelope"></i>  drnivedithasai@gmail.com 
    </div>
    <img src="/images/Dr-Niveditha-Sai-Chandra-A.jpg">
    <div class="mx-3">
        <h2>DR. NIVEDITHA SAI CHANDRA A</h2>
        <p>MBBS, MD(Gen.Med), DrNB Neurology from KMC Hospital , Mangalore. (Manipal Academy of Higher Education- MAHE)</p>
        <ul>
            <li>NESSAN Certified in EEG reading.</li>
            <li>Life member of Indian epilepsy Society</li>
            <li>Life member in Centre for Health and Development.</li>
        </ul>
        <a href="/about" type="button" class="btn Btn"> <b>View Details</b></a>
    </div>
</div>
<button type="button" class="btn btn-lg Btn">Our Services</button>
<div class="d-flex my-3 flex-wrap w-100">
    <div class="serviceImgs">
        <img src="https://i0.wp.com/carencurechiropractic.com/wp-content/uploads/2023/11/Brain-Stroke-1.jpg?fit=1000%2C667&ssl=1" alt="strock">
        <div>
            <p><b>Strock(pralysis)</b></p>
            <a href="/services/strock" type="button" class="btn Btn">Read More</a>
        </div>
    </div>
    <div class="serviceImgs">
        <img src="https://www.careinsurance.com/upload_master/media/posts/August2023/headache-signs.webp" alt="HEADACHE">
        <div>
            <p><b>HEADACHE</b></p>
            <a href="/services/headache" type="button" class="btn Btn">Read More</a>
        </div>
    </div>
    <div class="serviceImgs">
        <img src="https://www.pacificheadandneck.com/wp-content/uploads/2022/06/NATIONAL-MIGRAINE-HEADACHE-AWARENESS-MONTH-1-300x300.png" alt="migraine">
        <div>
            <p><b>MIGRAINE</b></p>
            <a href="/services/migraine" type="button" class="btn Btn">Read More</a>
        </div>
    </div>
    <div class="serviceImgs">
        <img src="https://www.epilepsy.org.uk/app/uploads/2022/08/epilepsy-brain-skull-activity-illustration.jpg" alt="EPILEPSY">
        <div>
            <p><b>EPILEPSY</b></p>
            <a href="/services/epilepsy" type="button" class="btn Btn">Read More</a>
        </div>
    </div>
    <div class="serviceImgs">
        <img src="https://edyioxmqcwu.exactdn.com/wp-content/uploads/2019/08/shutterstock_754295458.jpg?strip=all&lossy=1&ssl=1" alt="DEMENTIA & ALZHEIMER'S DISEASE">
        <div>
            <p><b>ALZHEIMER'S</b></p>
            <a href="/services/dementia" type="button" class="btn Btn">Read More</a>
        </div>
    </div>
    <div class="serviceImgs">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjlFCxcUzivUzs51lZWY9vP3fucRy2oQHajq_J_SPwIrPj_97_GVwoHhzvSyqFCc3XT98&usqp=CAU" alt="PARKINSON'S DISEASE">
        <div>
            <p><b>PARKINSON'S</b></p>
            <a href="/services/parkinson" type="button" class="btn Btn">Read More</a>
        </div>
    </div>
    <div class="serviceImgs">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRnkvcY0HQNH2NBOyuUYJRqnppxav5oeK-rAHzhsS1jVR2BHIISggeUotFh_sE951ryv8&usqp=CAU" alt="VERTIGO">
        <div>
            <p><b>VERTIGO</b></p>
            <a href="/services/vertigo" type="button" class="btn Btn">Read More</a>
        </div>
    </div>
    <div class="serviceImgs  ">
        <img src="https://www.npcourses.com/wp-content/uploads/2022/11/infections.jpg" alt="CNS INFECTIONS">
        <div>
            <p><b>CNS INFECTIONS</b></p>
            <a href="/services/infections" type="button" class="btn Btn">Read More</a>
        </div>
    </div>
    <div class="serviceImgs  ">
        <img src="https://samarpanphysioclinic.com/wp-content/uploads/2022/12/multiple-sclerosis-1-1-1200x675.webp" alt="MULTIPLE SCLEROSIS">
        <div>
            <p><b>SCLEROSIS</b></p>
            <a href="/services/sclerosis" type="button" class="btn Btn">Read More</a>
        </div>
    </div>
    <div class="serviceImgs   ">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUyjMZeb0sEZu42S1F7lc8CCyH7H9zaR73JV-6xgm5xiE-nmWWY1a2Tr_8_Z8hl6v8mlg&usqp=CAU" alt="NEUROPATHY">
        <div>
            <p><b>NEUROPATHY</b></p>
            <a href="/services/neuropathy" type="button" class="btn Btn">Read More</a>
        </div>
    </div>
    <div class="serviceImgs   ">
        <img src="https://api.parashospitals.com/uploads/2018/11/cuando-tu-dolor-de-espalda-puede-esconder-algo-mas-grave.jpg" alt="BACK & NECK PAIN">
        <div>
            <p><b>BACK & NECK PAIN</b></p>
            <a href="/services/backpain" type="button" class="btn Btn">Read More</a>
        </div>
    </div>
</div>
<div class="appointmentForm">
    <div style="font-size: larger;">
        <h4>YOU CAN AVAIL THE FOLLOWING SERVICES ALSO</h4>
        <ul style="list-style-type: none; color: black;">
            <li>Outpatient consultation</li>
            <li>Inpatient and ICU Care</li>
            <li>Nerve conduction study (NCS)</li>
            <li>Electro Enceohalography (EEG)</li>
            <li>Sleep study for Apnoea</li>
            <li>Associated physiotherapy and Neuro rehabilitation services.</li>
        </ul>
    </div>
    <div style="width: 50%;">
        <h4>Book an Appointment</h4>
        <form method="post" class="form-outline w-30">
            <input type="text" name="name" placeholder="Name" required><i class="fa-solid fa-user"></i>
            <input type="email" name="email" placeholder="Email" required><i class="fa-solid fa-envelope"></i>
            <input type="tel" name="Number" placeholder="Phone No" required><i class="fa-solid fa-phone"></i>
            <input type="date" name="date" required>
            <textarea name="message" cols="50" rows="3" placeholder="Message"></textarea><br>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>
<div class="d-flex my-5">
    <div class="text-center">
        <h3>HOW CAN I IMPROVE MY NEUROLOGICAL HEALTH?</h3>
        <p>Here are 8 ways you can help maintain brain function</p>
        <div class="healthtipsDiv d-flex flex-wrap">
            <button type="button" class="btn btn-outline-dark">Have constant mental stimulation</button>
            <button type="button" class="btn btn-outline-dark">Get physical exercise</button>
            <button type="button" class="btn btn-outline-dark">Improve your diet</button>
            <button type="button" class="btn btn-outline-dark">Manage your blood pressure</button>
            <button type="button" class="btn btn-outline-dark">Maintain your blood sugar</button>
            <button type="button" class="btn btn-outline-dark">Control your cholesterol</button>
            <button type="button" class="btn btn-outline-dark">Avoid unnecessary medication</button>
            <button type="button" class="btn btn-outline-dark">Stay away from tobacco</button>
        </div>
    </div>
    <img style="width: 40%; height: 350px; border: 2px solid black;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT14TXQTArAgkWyhhiTbZrw7YTNqSs7i5sjxdy17o8fPg&s">
</div>