<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neurophysician</title>

    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous" ></script>
    <script src="https://kit.fontawesome.com/cc6eb054b8.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <img src="https://images-platform.99static.com//yZjuksX4aN5a1WESKhahIfk7v4s=/663x1826:1300x2463/fit-in/500x500/99designs-contests-attachments/120/120806/attachment_120806598" style="height: 100px; width: 100px;">
        <div>
          <h3>DR. NIVEDITHA SAI CHANDRA A</h3>
          <p>Consultant Neurophysician</p>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/about"> About </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Services </a>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/services/strock">STROKE (PARALYSIS)</a></li>
                  <li><a class="dropdown-item" href="">HEADACHE</a></li>    
                <li><a class="dropdown-item" href="">MIGRAINE</a></li>
                <li><a class="dropdown-item" href="">EPILEPSY</a></li>
                <li><a class="dropdown-item" href="">DEMENTIA & ALZHEIMER'S DISEASE</a></li>
                <li><a class="dropdown-item" href="">PARKINSON'S DISEASE</a></li>
                <li><a class="dropdown-item" href="">VERTIGO</a></li>
                <li><a class="dropdown-item" href="">CNS INFECTIONS</a></li>
                <li><a class="dropdown-item" href="">MULTIPLE SCLEROSIS</a></li>
                <li><a class="dropdown-item" href="">NEUROPATHY</a></li>
                <li><a class="dropdown-item" href="">BACK & NECK PAIN</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Media </a>
              <ul class="dropdown-menu">   
                <li><a class="dropdown-item" href="">Videos</a></li>
                <li><a class="dropdown-item" href="">Images</a></li>
                <li><a class="dropdown-item" href="">Blogs</a></li>
                <li><a class="dropdown-item" href="">News</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"> Testimonials </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"> Contact </a>
            </li>
          </ul>
          <hr>
          <div class="d-flex my-3">
            <i class="fa-brands fa-facebook fa-xl mx-3"></i>
            <i class="fa-brands fa-twitter fa-xl mx-3"></i>
            <i class="fa-brands fa-square-instagram fa-xl mx-3"></i>
            <i class="fa-brands fa-square-whatsapp fa-xl mx-3"></i>
          </div>
        </div>
      </div>
    </nav>
    <div class="container m-5"><%-body%></div>
    <div class="position-absolute mx-5">
      <h2 class="my-4"><b>HAVE ANY NEUROLOGICAL ISSUES PLEASE CALL </b><button type="button" class="btn btn-lg Btn">+91 8106471415</button></h2>
      <button type="button" class="btn btn-lg btn-dark"> Consult At </button>
      <div class="footer my-3">
        <div style="border-right: 1px dashed black">
            <h6 class="text-center" style='color: #0093AF;'><b>SAI AKSHAYA NEURO & SPINE CARE</b></h6>
            <p><b>Address: </b>beside Padmashali kalyana Mandapam, Sarvasukhi Colony, West Marredpally, Secunderabad, Telangana 500026</p>
            <p><b>For appointment :</b> call +91 81064 71415</p>
            <p><b>Email :</b>drnivedithasai@gmail.com</p>
            <p><b>On call OPD :</b> Mon,Wed,Thu,Fri,Sat, 4.30 pm to 7.30 pm</p>
        </div>
        <div style="border-right: 1px dashed black">
          <h6 class="text-center" style='color: #0093AF;'><b>KIMS-SUNSHINE HOSPITALS</b></h6>
          <p><b>Address: </b>Prakash Nagar, Begumpet, Hyderabad, Telangana - 500016</p>
          <p><b>For appointment :</b> call 040 44550000, +91 8106471415</p>
          <p><b>Email :</b>info@sunshinehospitals.com</p>
          <p><b>On call OPD :</b> Mon,Wed,Thu,Fri,Sat, 10am to 4:30pm</p>
        </div>
        <div>
          <h6 class="text-center" style='color: #0093AF;'><b>SHENOY HOSPITAL</b></h6>
          <p><b>Address: </b>10-3-4, Entrenchment Road, East Marredpally, Secunderabad-500026</p>
          <p><b>For appointment :</b> call 040-41519999, +91 8106471415</p>
          <p><b>Email :</b>info@shenoyhospitals.com</p>
          <p><b>On call OPD :</b> Mon,Wed,Thu,Fri,Sat, 5pm to 7pm</p>
        </div>
      </div>
      <hr>
      <div class="d-flex justify-content-around">
        <p>© 2022 Dr Niveditha Sai Chandra A. All rights reserved.</p>
      </div> 
    </div>
  </body>
</html>
